/* MAIN */
/* =============================================== */

.radio-input-wrapper {
  display: flex;
  gap: 10px;
}

.label {
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 14px 16px;
  margin: 5px 0;
  cursor: pointer;
  transition: 0.3s;
}

.label:hover,
.label:focus-within,
.label:active {
  background: hsla(0, 0%, 80%, 0.14);
}

.radio-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.radio-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.radio-design::before {
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: 0.3s;
}

.radio-input:checked + .radio-design::before {
  transform: scale(0);
}

.label-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 900;
  transition: 0.3s;
}

.radio-input:checked ~ .label-text {
  color: hsl(0, 0%, 40%);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  position: relative;
  width: 150px;
  height: 100px;
  background: #fff;
  border-radius: 10px;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.input {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  appearance: none;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 1px 1px 10px #aaaaaa, -1px -1px 10px #ffffff;
}

.input + .check::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 17px;
  width: 16px;
  height: 16px;
  border: 2px solid #d0d0d0;
  border-radius: 50%;
  background-color: #e8e8e8;
}

.input:checked + .check::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 19px;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 50%;
}

.input[value="standart"]:checked + .check::after {
  background-color: rgba(255, 165, 0, 0.7);
}

.input[value="premium"]:checked + .check::after {
  background-color: rgba(0, 128, 0, 0.7);
}

.input[value="basic"]:checked {
  border: 1.5px solid rgba(255, 0, 0, 0.7);
}

.input[value="standart"]:checked {
  border: 1.5px solid rgba(255, 165, 0, 0.7);
}

.input[value="premium"]:checked {
  border: 1.5px solid rgba(0, 128, 0, 0.7);
}

.label__select {
  color: #323232;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.label__select .title {
  margin: 15px 0 0 15px;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.label__select .price {
  margin: 20px 0 0 15px;
  font-size: 20px;
  font-weight: 900;
}

.label__select .span {
  color: gray;
  font-weight: 700;
  font-size: 15px;
}
